**/target
**/*.rs.bk
**/.vscode
**/.idea
**/cmake-build-debug
**/__pycache__
perf.data*
log.lammps

# No library lockfiles if any exist,
# but keep the root one for our binaries.
**/Cargo.lock
!/Cargo.lock

.subcrate-cfg
.secret-test-dir

crates.d/config.toml
